body{
  //-color: #000000;
  //-background-color: #f8dce0;
  background-image: url("/images/back.png");
}

/*h1{
  //- float: ;
  margin-left: 10px;
  padding-left: 0;
}*/

ul{
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  width: 550px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  //- border-right: 1px solid #cccccc;
}

li{
  float: left;
  width: 110px;
}

/*a{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 1px solid #cccccc;
  text-align: center;
  text-decoration: none;
  background-color: #eeeeee;
  color: #555555;
  width: 109px;
  &:hover {
    background-color: #aaaaaa;
  }
}*/

#masonry {
  width: 100%;
  padding: 10px;
  border: 1px solid #EEE;
  overflow: auto;
}

.grid {
  width: 500px;
  margin: 5px;
  padding: 10px;
  float: left;
  background: #424242;
  color: #FFF;
  display: inline;
}
