#masonry {
  width: 100%;
  padding: 10px;
  border: 1px solid #EEE;
  overflow: auto;
}

.grid {
  width: 500px;
  margin: 5px;
  padding: 10px;
  float: left;
  background: #424242;
  color: #FFF;
  display: inline;
}
