/* * {
  margin: 0;
  padding: 0;
}*/

body{
  //color: #000000;
  //background-color: #f8dce0;
  background-image: url("/images/back.png");
  /* 文字サイズを自動調整する機能を無効化 */
  -webkit-text-size-adjust: 100%;
}

ul{
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  //background-color: black;
  //width: 550px;
  //border-top: 1px solid #cccccc;
  //border-bottom: 1px solid #cccccc;
  //border-left: 1px solid #cccccc;
  //border-right: 1px solid #cccccc;
}

li{
//float: left;
  //width: 220px;
}

nav {
  height: 0;
}

a{
  display:table;
  // display: block;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border: thin solid #cccccc;
  //border-top: 1px solid #cccccc;
  //border-right: 1px solid #cccccc;
  //border-bottom: 1px solid #cccccc;
  text-align: center;
  text-decoration: none;
  color: #555555;
  //
  width: 300px;
  &:hover {
    background-color: #aaaaaa;
  }
}

a.header-menu {
  background-color: #444;
}

/* 画像の最大幅を100%に */
img {
  max-width: 100%;
  height: auto;
  width: auto;
  /* IE8 */
}

header,footer{
  background-color: #444444;
  color: white;
  height: 77px;
}

h1{
  float: right;
  padding-top: 0px;
  padding-right:100px;
}


/* PC向け */
//@media screen and (min-width: 960px) {
  /* ここにPC向けCSSを記述する */
//}

/* タブレット向け */
//@media screen and (min-width: 480px) and (max-width: 959px) {
  /* ここにタブレット向けCSSを記述する */
//}

/* スマホ向け */
//@media screen and (max-width: 479px) {
  /* ここにスマホ向けCSSを記述する */
//}

#masonry {
  width: 100%;
  padding: 10px;
  border: 1px solid #EEE;
  overflow: auto;
}

.grid {
  width: 500px;
  margin: 5px;
  padding: 10px;
  float: left;
  background: #424242;
  color: #FFF;
  display: inline;
}

/* clearfix */
/*jadeとの関連まだ*/

/*.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
  }
  display: inline-block;
}*/

/* Hides from IE Mac \*/

/* * html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}*/

/* End Hack */
