extends /layouts/_default

block content
    #masonry
        .grid
          h1 1
          p kitten
            img(src='/images/app.png', alt='rcon')
          p skill
          img(src='/images/120*120/PS_icon.png', alt='PS')
          img(src='/images/120*120/icn_IllustratorCC.png', alt='Ill')
        .grid
          h1 2
          p Business card
            img(src='/images/namer2-1.png', alt='rcon')
            p 個人名刺用に背景とアイコンを借りて、作成致しました。
          p skill
            img(src='/images/name.png', alt='rcon')
        .grid
          h1 3
          //- p animals
          img(src='/images/pot.png', alt='rcon')
        .grid
          h1 4
          p これはパズドラのキャラクターの属性を変更したものです。
          img(src='/images/va.png', alt='rcon')
        .grid
          h1 5
          p cap
          img(src='/images/cap.png', alt='rcon')
      //-p You are amazing
      //- p Jade is a terse and simple
