extends /layouts/_default

block content
    #masonry
        .grid
          h1 1
          p afternoonteaをイメージしたAndloidhome画面です。
            img(src='/images/UIdesign/AndroidUI1.png', alt='AndloidUI')
          p skill
          img(src='/images/120*120/PS_icon.png', alt='PS')
          img(src='/images/120*120/icn_IllustratorCC.png', alt='Ill')

        .grid
          h1 2
          p IOSアプリUI
            img(src='/images/UIdesign/IOSUI1.png', alt='IOSUI1')
            img(src='/images/UIdesign/IOSUI2.png', alt='IOSUI2')
            img(src='/images/UIdesign/IOSUI3.png', alt='IOSUI3')
            img(src='/images/UIdesign/IOSUI4.png', alt='IOSUI4')
          p skill
          img(src='/images/120*120/icn_IllustratorCC.png', alt='Ill')
            
        .grid
          h1 3
          p Business card
            img(src='/images/namer2-1.png', alt='rcon')
          p 個人名刺用に背景とアイコンを借りて、作成致しました。
          p skill
            img(src='/images/name.png', alt='rcon')
              
        .grid
          h1 4
          p Androidhome画面素材１
            img(src='/images/pot.png', alt='rcon')
          p skill
            img(src='/images/120*120/icn_IllustratorCC.png', alt='Ill')

        .grid
          h1 5
          p Androidhome画面素材２
            img(src='/images/cap.png', alt='rcon')
          p skill
            img(src='/images/120*120/icn_IllustratorCC.png', alt='Ill')
      //-p You are amazing
      //- p Jade is a terse and simple

//-block content
    //- pp coming soon!!
