extends /layouts/_default

block content
    h1 作品一覧
    #masonry
        .grid
          h1 1
          p kitten
          img(src='/images/cap.png', alt='rcon')
        .grid
          h1 2
          p これはパズドラのキャラクターの属性を変更したものです。
          img(src='/images/va.png', alt='rcon')
        .grid
          h1 3
          //- p animals
          img(src='/images/pot.png', alt='rcon')
        .grid
          h1 4
          p animals
          img(src='/images/newnamer2.png', alt='rcon')

      p You are amazing
      p Jade is a terse and simple
