doctype html
html(lang="en")
  head
    title つなたま
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')
    //- viewport
    meta(name='viewport', content='width=device-width')

    // build:css /styles/main.css
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body(class=page)
    //header
    header
      img(src='/images/post.png', alt='icon')
      h1(class=h1) 作品
      ul
        //-li TOP 最初に出す画面　最新の作品やスキル、最新のブログをリアルタイム表示
        li 
          a.header-menu(href='http://www.javadrive.jp/') プロフィール
        li 
          a.header-menu(href='http://www.javadrive.jp/') 作品
        li 
          a.header-menu(href='http://www.javadrive.jp/') ブログ
        li
          a.header-menu(href='http://www.javadrive.jp/') お問い合わせ
        li 
          a.header-menu(href='http://www.javadrive.jp/') English
      
    //- sh1
    //-div
      button.btn.btn-default(type='button') Default
      button.btn.btn-primary(type='button') Primary
      button.btn.btn-success(type='button') Success
      button.btn.btn-info(type='button') Info
      button.btn.btn-warning(type='button') Warning
      button.btn.btn-danger(type='button') Danger
       


    block content

    // Footer
    footer
      p &copy; 2015 tunasand Thank you for reading it!
    // css
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css', media='screen')
    link(rel='stylesheet',href='bower_components/bootstrap/dist/css/bootstrap-theme.css', media='screen')
      
    // build:js /scripts/main.js
    
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/masonry/dist/masonry.pkgd.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    //if lt IE 9
    script(type='text/javascript',src='http://html5shim.googlecode.com/svn/trunk/html5.js')
        
        
    script(src='/scripts/main.js')
    // endbuild
    
    
