doctype html
html(lang="en")
  head
    title つなたま
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')

    // build:css /styles/main.css
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body(class=page)
    //header
    img(src='/images/rcon.png', alt='rcon')
    ul
      //-li TOP(最初に出す画面　最新の作品やスキル、最新のブログをリアルタイム表示)
      li 
      a(href='http://www.javadrive.jp/') プロフィール
      li 
      a(href='http://www.javadrive.jp/') 作品
      li 
      a(href='http://www.javadrive.jp/') ブログ
      li 
      a(href='http://www.javadrive.jp/') お問い合わせ
      li 
      a(href='http://www.javadrive.jp/') English(日本語との切り替え)
    
      
    //- sh1
    //-div
      button.btn.btn-default(type='button') Default
      button.btn.btn-primary(type='button') Primary
      button.btn.btn-success(type='button') Success
      button.btn.btn-info(type='button') Info
      button.btn.btn-warning(type='button') Warning
      button.btn.btn-danger(type='button') Danger
       


    block content

    // Footer
    footer

    // css
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css', media='screen')
    link(rel='stylesheet',href='bower_components/bootstrap/dist/css/bootstrap-theme.css', media='screen')
      
    // build:js /scripts/main.js
    
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/masonry/dist/masonry.pkgd.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    
    script(src='/scripts/main.js')
    // endbuild
    
    
